<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager App</title>
    <link rel="stylesheet" href="style.css">
    <div class="container"> 
        <div class="todo-tab">
            <h2>ToDo List <img src="images/icon.png"></h2>
            <div class="row">
                <input type="text" id="input-box" placeholder="F&uuml;ge eine Task hinzu">
                <button>Hinzuf&uuml;gen</button>
            </div>
    </div>
</head>
<body>

</body>
</html>